<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">

    <title>New person</title>
</head>
<body>

<form th:method="patch" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label>Name
        <br>
        <input type="text"
               th:field="*{name}"
        >
    </label>
    <input type="submit" value="Update">

</form>

</body>
</html>
