<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title th:text="${person.getName()}"></title>
</head>
<body>

<h1 th:text="${person.getName()}"></h1>
<h1 th:text="${person.getAge()}"></h1>
<h1 th:text="${person.getEmail()}"></h1>
<span th:text="${person.getId()}"></span>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}"> EDIT</a>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="delete">
      <input type="submit" value="DELETE">
</form>

</body>
</html>
